doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Badge Explorer

    //- Font Awesome used for the back/forward arrows
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
  body

    #page-contents
      //- `.full-badge` div added by JS on page load
      //- We have relocted this entire section into JS to maintain all of its controls there
      .browse-view
        .container.clearfix
          //- Render each category section
          for category in categories
            .badge-category.clearfix
              h3.align-top.clearfix
                //- TODO: Make image badge spritesheet
                //- TODO: Crop badge as its too tall
                img.badge-category__icon(src=category.chartIconSrc, alt="#{category.typeLabel} icon")
                | #{category.typeLabel}
              div
                //- Render each badge
                for badge in badges
                  //- If the badge is in this section, display it
                  if badge.badgeCategory === category.category
                    a(href="##{badge.slug}")
                      //- TODO: Add padding between badges
                      //- TODO: Add `.selected` highlighting
                      //- TODO: Consider doing an effect on hover
                      img(src=badge.icons.compact, alt="#{badge.description} badge")


    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='js/main.js')
